<!doctype html>
<html lang="utf-8">
    <head>
        <title>XYZ信用風險決策系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <h2>XYZ信用風險決策系統</h2>
        <p>請輸入授信申請人的相關資料，以便進行分析診斷。</p>
        <form action="aml" method="post">
        <div class="form-group">
            <label for="rev">無擔保循環信用額度使用率</label>
            <input type="text" class="form-control" name="rev">
            <label for="deb">負債比率</label>
            <input type="text" class="form-control" name="deb">
            <label for="mon">每月收入</label>
            <input type="text" class="form-control" name="mon">
            <label for="num">90 天以上逾期次數</label>
            <input type="text" class="form-control" name="num">
        </div>   
        <button type="submit" class="btn btn-default">送出</button>
        </form>    
    </div>

    </body>    
</html>